.hero{
    background: url(../../assets/images/hero-bg-img.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.hero{
    height: 758px;
}
header{
    margin-bottom: 90px;
}